@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+Lao:wght@300;400;600&display=swap');

* {
    margin: 0;
    padding: 0;
    text-decoration: none !important;
    box-sizing: border-box !important;
    list-style: none !important;
}

.container_my {
    max-width: 1120px;
    padding-left: 12px;
    padding-right: 12px;
    margin-left: auto !important;
    margin-right: auto !important;
}

.ff_noto_serif {
    font-family: 'Noto Serif Lao', serif, sans-serif;
}

.border_none {
    border: none !important;
}

body {
    background-image: url(/assets/image/svg/25th\ Feb.png);
}

.button_img {
    background-image: url(/assets/image/svg/25th\ Feb.png);
}

.slick-dots {
    display: none !important;
}

.slick-dotted.slick-slider {
    margin-bottom: 0px !important;
}

.border_bottom {
    border-bottom: 2px solid #000000;
}

.border_left {
    border-left: 2px solid #000000;

}



.pointer {
    cursor: pointer;
}

.border_right {
    border-right: 2px solid #000000;

}

.border_2_black {
    border: 2px solid #000000;
}

.mx_212 {
    max-width: 212px;
}

.bg_yellow {
    background-color: #FFD600;
}

.mx_100 {
    max-width: 100px;
}

.clr_green {
    color: #00A206;
}

.clr_red {
    color: red;
}

.btn_mint_now {
    padding: 12px 16px;
    border: 3px solid #000000;
}

@media (min-width:992px) {
    .border_left_lg {
        border-left: 2px solid #000000;
    }

    .mx_420 {
        max-width: 420px !important;
    }
}